@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0 0 70px;
  top: 70px;
  position: relative;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

p {
  text-align: center;
}

.bold {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.navbar {
  background-color: white;
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  transition: all 0.6s ease;
}

.navbar .container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar .container .logo {
  font-size: 30px;
  font-weight: 700;
}

.navbar .container .logo a {
  color: black;
}

.navbar .container .menu {
  display: flex;
  flex-direction: row;
}

.navbar .container .menu li {
  padding: 0 10px;
  list-style: none;
}

.navbar .container .menu li a {
  color: rgba(0, 0, 0, 0.67);
  font-weight: 700;
}

.navbar .container .menu li a:hover {
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
}

.navbar-shadow {
  box-shadow: rgba(24, 20, 65, 0.02) 1px 2px 4px -1px, rgba(27, 26, 39, 0.063) 3px 5px 8px -2px, rgba(27, 26, 39, 0.063) 1px 1px 40px -6px;
}

#hero {
  text-align: center;
  padding: 20px 10px;
  margin: 100px auto;
}

#hero h1 {
  font-size: 44px;
  margin-bottom: 30px;
  line-height: 60px;
}

#hero p {
  line-height: 28px;
  font-size: 20px;
  font-weight: 300;
}

#hero .hero-content {
  width: 60%;
  min-width: 500px;
  max-width: 1100px;
  display: flex;
  justify-content: center;
}

#hero .hero-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  text-align: left;
}

#hero .p-col {
  width: 600px;
}

#hero .p-col p {
  text-align: left;
}

.blogs,
.success,
.error {
  width: 80%;
  min-height: calc(100% - 270px);
}

.success i {
  font-size: 80px;
  color: green;
  margin-bottom: 10px;
}

.error i {
  font-size: 80px;
  margin-bottom: 10px;
}

.error .btn {
  width: 205px;
  display: block;
  margin: 10px auto;
}

.btn {
  background-color: black;
  color: white;
  padding: 16px 24px;
  border-radius: 5px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  margin-right: 15px;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.67);
}

.btn.btn-outline {
  background: transparent;
  border: 2px solid black;
  color: black;
}

.btn.btn-outline:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.buttons {
  margin-top: 40px;
}

#services {
  padding-top: 80px;
}

#services .container h2 {
  font-size: 17px;
  text-transform: uppercase;
  padding: 10px 0;
}

#services .container h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

#services .container .services-col {
  width: 620px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#services .container .p-col p {
  text-align: left;
  font-size: 20px;
  line-height: 28px;
  color: #586066;
  font-weight: 300;
}

#services .container .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#services .container .cards .card {
  width: 300px;
  height: 403px;
  padding: 32px;
  margin: 40px 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(24, 20, 65, 0.02) 1px 2px 4px -1px, rgba(27, 26, 39, 0.063) 3px 5px 8px -2px, rgba(27, 26, 39, 0.063) 1px 1px 40px -6px;
  transition: all 0.3s ease;
}

#services .container .cards .card:hover {
  transform: scale(1.005);
}

#services .container .cards .card i {
  font-size: 50px;
  margin: 10px auto;
}

#services .container .cards .card h1 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}

#services .container .cards .card p {
  font-size: 16px;
  line-height: 32px;
  color: #586066;
  font-weight: 300;
}

#launch {
  width: 100%;
  height: 434px;
  background-color: black;
  color: white;
  padding: 0 0 40px;
}

#launch .launch-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#launch .launch-content i {
  font-size: 60px;
  padding: 30px 0;
}

#launch .launch-content h1 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 40px;
}

#launch .launch-content p {
  font-size: 17px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.82);
}

#launch .launch-content a {
  text-decoration: underline;
}

#launch .launch-content a:hover {
  color: rgba(255, 255, 255, 0.67);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.redBtn {
  animation: shake 0.82s;
}

#contact {
  height: 850px;
}

#contact .container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#contact .container .form-card {
  text-align: left;
  width: 500px;
  height: 650px;
  padding: 32px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(24, 20, 65, 0.02) 1px 2px 4px -1px, rgba(27, 26, 39, 0.063) 3px 5px 8px -2px, rgba(27, 26, 39, 0.063) 1px 1px 40px -6px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

#contact .container .form-card h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

#contact .container .form-card .hidden {
  display: none;
}

#contact .container .form-card input,
#contact .container .form-card label {
  display: block;
}

#contact .container .form-card input {
  width: 436px;
  height: 51px;
  font-size: 16px;
  color: #586066;
  font-weight: 300;
  padding: 12px 16px;
  border: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 3px;
}

#contact .container .form-card textarea {
  width: 436px;
  height: 130px;
  resize: vertical;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 12px 16px;
  border: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 3px;
}

#contact .container .form-card label {
  font-size: 18px;
  padding: 10px 0;
}

#contact .container .form-card label::after {
  content: " *";
  color: red;
}

#contact .container .form-card .btn-submit {
  background-color: black;
  color: white;
  text-transform: uppercase;
  box-shadow: rgba(27, 26, 39, 0.063) 1px 2px 4px -1px, rgba(27, 26, 39, 0.063) 3px 5px 8px -2px;
  margin-top: 30px;
  font-size: 15px;
  width: 100%;
  transition: all 0.3s ease;
}

#contact .container .form-card .btn-submit:hover {
  cursor: pointer;
  transform: scale(1.005);
}

#contact .container .form-card p {
  color: #586066;
  text-align: left;
  padding-top: 10px;
}

footer {
  height: 70px;
  width: 100%;
  background-color: black;
  color: white;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

footer p {
  font-size: 16px;
  font-weight: 300;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.67);
}

.icons {
  font-size: 20px;
}

.icons i {
  color: white;
  padding: 0 10px;
}

.icons i:hover {
  color: rgba(255, 255, 255, 0.67);
}

@media (max-width: 750px) {
  #hero {
    width: 100%;
  }
  #hero .hero-col {
    width: 100%;
  }
  #hero.blogs h1, #hero.success h1, #hero.error h1 {
    width: 80%;
    margin: 0 auto;
  }
  #hero.blogs p, #hero.success p, #hero.error p {
    width: 70%;
    margin: 0 auto;
  }
  #hero h1 {
    width: 80%;
  }
  #hero p {
    width: 70%;
  }
  #services {
    padding-top: 100px;
  }
  #services .container .services-col {
    width: 100%;
  }
  #services .container .services-col p {
    text-align: center;
  }
  #contact .container .form-card {
    max-width: 465px;
    width: 100%;
  }
  #contact .container .form-card h1 {
    font-size: 20px;
  }
  #contact .container .form-card input,
  #contact .container .form-card textarea {
    width: 100%;
    margin: 0 auto;
  }
  #contact .container .form-card textarea {
    display: flex;
    align-items: center;
  }
  .navbar {
    height: 100px;
  }
  .navbar .container {
    flex-direction: column;
  }
  footer .container {
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
}

@media (max-width: 530px) {
  #contact .container .form-card {
    max-width: 400px;
    width: 85%;
  }
  #contact .container .form-card input,
  #contact .container .form-card textarea {
    width: 100%;
    margin: 0 auto;
  }
  #contact .container .form-card textarea {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 450px) {
  #hero .hero-col .heading-col {
    width: 90%;
  }
  #hero .hero-col .heading-col h1 {
    font-size: 40px;
    line-height: 55px;
  }
  #hero .hero-col .buttons {
    width: 70%;
  }
  #hero .hero-col .p-col {
    width: 90%;
  }
}

@media (max-width: 400px) {
  #hero {
    margin-top: 40px;
  }
  #hero .hero-col .heading-col {
    width: 70%;
  }
  #hero .hero-col .heading-col h1 {
    font-size: 34px;
    line-height: 45px;
    margin-bottom: 10px;
  }
  #hero .hero-col .buttons {
    width: 50%;
    margin-top: 10px;
  }
  #hero .hero-col .buttons .btn {
    display: inline-block;
    margin: 10px 0;
  }
  #hero .hero-col .p-col {
    width: 70%;
  }
}
/*# sourceMappingURL=styles.css.map */